.post-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width:700px ;
    margin: 30px auto;
    
  }
  
  .post-input img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    
  }
  
  .about-trip {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  

    input[type=file]::file-selector-button {
        margin-left: 20px;
        border: none;
        background:red;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
      }
      
      input[type=file]::file-selector-button:hover {
        background: #4c66a4;
      }
  
  
  .addPost {
    margin-left: 10px;
    background-color: rgb(108, 93, 211);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .addPost:hover {
    background-color: rgb(108, 93, 211)
  }
.user-info{
    width: 500px;
    margin: 0px auto;

}