.Header-container{
    
    width: 1040px;
    height: 618px;
    flex-shrink: 0;
    position: relative;
    display: flex !important;
    flex-direction: column;
    gap: 100px;
    

}
.icon-container{
    background: #6C5DD3;
    display: flex;
    width: 49px;
    height: 49px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 43%;
}
.avatar-container{
    position: absolute;
    bottom: 35%;
    left: 45%;
}
.profile-info{
    position: absolute;
    bottom: -72px;
    right: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-btn {
    width:220px;
    display: flex;
    gap:14px;
    font-weight: bold;
    bottom: 27%;
}
.edit-btn:hover{
    background: #6C5DD3 !important;
    font-weight: bold;
    font-family: 'SF Pro Display';
}